<h1>イベント一覧</h1>

<TABLE border="1" align="left">
<TR>
<TD>日時</TD>
<TD>イベント名</TD>
<TD>その他の事項</TD>
</TR>
<tbody>
  <% @events.each do |event| %>
<TR>
<TD><%= event.date %></TD>
<TD><%= event.eventsName %></TD>
<TD><%= event.freeSpace %></TD>
<TD><BUTTON type="submit"><%= link_to '参加する', new_join_path(event) %></BUTTON></TD>
<TD><BUTTON type="submit"><%= link_to '参加者リスト', new_join_path(event) %></BUTTON></TD>
<TD><BUTTON type="submit"><%= link_to '変更', edit_event_path(event) %></BUTTON></TD>
<TD><BUTTON type="submit"><%= link_to '削除', event, method: :delete, data: { confirm: 'このイベントを削除してもよろしいですか?' } %></BUTTON></TD>
</TR>
  <% end %>
</tbody>
</TABLE>
<br clear="all"><br><br>


<BUTTON type="submit"><%= link_to '新しいイベントを追加する', new_event_path %></BUTTON><BR><BR>

<%= link_to 'TOPに戻る', events_path %>
