<p id="notice"><%= notice %></p>

<p>
  <strong>日時:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>イベント名:</strong>
  <%= @event.eventsName %>
</p>

<p>
  <strong>自由記入欄:</strong>
  <%= @event.freeSpace %>
</p>

<%= link_to '変更', edit_event_path(@event) %> |
<%= link_to 'TOPに戻る', events_path %>