
<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :to %><br>
    <%= f.text_area :to %>
  </div>
  <div class="field">
    <%= f.label :me %><br>
    <%= f.text_field :me %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.text_field :date %>
  </div>
  <div class="field">
    <%= f.label :eventName %><br>
    <%= f.text_field :eventName %>
  </div>
  <div class="field">
    <%= f.label :freeSpace %><br>
    <%= f.text_area :freeSpace %>
  </div>
 

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>