<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @post.date %>
</p>

<p>
  <strong>eventName:</strong>
  <%= @post.eventName %>
</p>

<p>
  <strong>free:</strong>
  <%= @post.freeSpace %>
</p>
<br /><br />

<h3>参加者リスト</h3>
<% @comments.each do |comment| %>
  <div>
    <p><strong><%= comment.user_name %></strong>
    (<%= comment.body %>)<br />
      <%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: '削除してもよろしいですか？' } %></p>
  </div>
<% end %>
<br / ><br />
<%= render 'comments/form' %>

<br><br>

<a href="/">TOPに戻る</a>
