<h1>参加者一覧</h1>

<table>
  <thead>
    <tr>
      <th>名前</th>
      <th> | </th>
      <th>所属</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @joins.each do |join| %>
      <tr>
        <td><%= join.name %></td>
        <td> | </td>
        <td><%= join.belong %></td>
        <td><%= link_to 'Show', join %></td>
        <td><%= link_to 'Edit', edit_join_path(join) %></td>
        <td><%= link_to 'Destroy', join, method: :delete, data: { confirm: '本当に取り消しますか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '参加', new_join_path %>
