<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @join.name %>
</p>

<p>
  <strong>Belong:</strong>
  <%= @join.belong %>
</p>

<%= link_to 'Edit', edit_join_path(@join) %> |
<%= link_to 'Back', joins_path %>
